.page {
  min-width: 1920px;
  height: 100%;
  scroll-behavior: smooth;

  @media (max-width: $vp-1023) {
    min-width: 770px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.page__body {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #041827;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
