.about {
  width: 100vw;
  min-width: $vp-1024;
  max-width: 2600px;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.about__wrapper {
  width: 100%;
  margin: 0 auto;;
  padding: 60px 18% 120px 31.3%;
  background: url("../img/year2022.png") 19.8% 60px no-repeat;

  @media (max-width: $vp-1023) {
    padding: 15px 6.5% 80px 29.3%;
    background-position: 7% 20px;
  }

  @media (max-width: $vp-767) {
    padding: 50px 25px 80px 25px;
    background: none;
  }
}

.about__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #041827;
  margin: 0 0 15px 0;

  @media (max-width: $vp-1023) {
    margin: 0 0 13px 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 15px 0;
  }
}

.about__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;
  margin: 0 0 15px 0;
}

.about__description--hidden {
  display: none;
}

.about__button {
  display: inline-block;
  margin: 25px 0 0 0;
  padding: 14px 49px 14px 49px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  background-color: #f8fdff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    margin: 5px 0 0 0;
    padding: 14px 50px 14px 50px;
  }

  @media (max-width: $vp-767) {
    margin: 0;
  }

  &:hover {
    outline: 2px solid #00b2ff;
    outline-offset: 2px;
  }

  &:active {
    outline: 2px solid #00b2ff;
    outline-offset: 1px;
  }
}
