.about {
  width: 100vw;
  min-width: $vp-1024;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.about__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 18% 120px 31.3%;
  background: url("../img/year2022.png") 19.8% 60px no-repeat;
  display: flex;
  flex-direction: column;

  @media (min-width: 1921px) {
    padding: 60px 345px 120px 600px;
  }

  @media (min-width: $vp-768) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/year2022@2x.png");
      background-size: 150px auto;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $vp-1023) {
    padding: 15px 6.5% 80px 29.3%;
    background-position: 7% 20px;
  }

  @media (max-width: $vp-767) {
    padding: 15px 7.81% 80px 7.81%;
    background: none;
  }
}

.about__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #041827;
  margin: 0 0 15px 0;

  @media (max-width: $vp-1023) {
    margin: 0 0 13px 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 15px 0;
    font-size: 28px;
    line-height: 39px;
  }
}

.about__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;
  margin: 0 0 15px 0;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.about__extra-description {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.about__button {
  display: inline-block;
  vertical-align: baseline;
  margin: 25px 0 0 0;
  padding: 14px 49px 14px 49px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  background-color: #f8fdff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  align-self: flex-start;
  min-width: 180px;

  @media (max-width: $vp-1023) {
    margin: 5px 0 0 0;
    padding: 14px 50px 14px 50px;
  }

  @media (max-width: $vp-767) {
    margin: 0;
    padding: 7px 39px 11px 39px;
    min-width: 160px;
  }

  &:hover {
    outline: 2px solid #00b2ff;
    outline-offset: 2px;
  }

  &:active {
    outline: 2px solid #00b2ff;
    outline-offset: 1px;
  }
}

.about__button--nojs {
  display: none;
}
