.advantages {
  width: 100vw;
  min-width: $vp-1024;
  max-width: 2600px;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.advantages__wrapper {
  width: 100%;
  padding: 120px 18% 60px 18%;
  margin: 0 auto;

  @media (max-width: $vp-1023) {
    padding: 120px 6.5% 60px 6.5%;
  }

  @media (max-width: $vp-767) {
    padding: 50px 25px 60px 25px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item {
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;
  padding: 40px 40px 40px 45px;
  color: #00b2ff;

  @media (max-width: $vp-1023) {
    padding: 35px 30px 35px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 30px 30px 35px 30px;
    min-height: 340px;
  }
}

.advantages__item:nth-child(3) {
  @media (max-width: $vp-767) {
    min-height: 325px;
  }
}

.advantages__item-name {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #00b2ff;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 15px 0;

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item-description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;
  margin: 0;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__item:hover {
  background-color: #00b2ff;
  color: #f2f5f7;
  border: 1px solid #00b2ff;
  border-left: 5px solid #00b2ff;
}

.advantages__item:hover .advantages__item-name {
  color: #f2f5f7;
}

.advantages__item:hover .advantages__item-description {
  color: #f2f5f7;
}
