.feedback {
  background: linear-gradient(135deg, #026693 31.5%, #00b3ff 31.5%);
  min-width: 1920px;

  @media (max-width: $vp-1023) {
    min-width: 770px;
    background: #00b3ff;
  }
}

.feedback__wrapper {
  background: url("../img/paper-airplane.png");
  background-position: 280px 260px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1920px;
  padding: 230px 0 200px 1000px;

  @media (max-width: $vp-1023) {
    width: 770px;
    padding: 50px 50px 125px 50px;
    background: none;
  }
}

.feedback__title {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 15px 0;
}

.feedback__text {
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  margin: 0 0 35px 0;
}

.feedback__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  width: 580px;
  padding: 0;
  margin: 0;
  border: none;

  @media (max-width: $vp-1023) {
    gap: 20px 30px;
  }
}

.feedback__input {
  border: none;
  width: 275px;
  height: 50px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  &::placeholder {
    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    width: 320px;
  }
}

.feedback__textarea {
  border: none;
  width: 580px;
  height: 155px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 25px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }

  @media (max-width: $vp-1023) {
    width: 670px;
    margin-bottom: 15px;
  }
}

.feedback__label {
  position: relative;
  cursor: pointer;
}

.feedback__label--textarea {
  grid-column: 1 / -1;
}

.feedback__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: inline-block;
  padding: 8px 55px;
  max-width: 260px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #041427;
  border-radius: 3px;
  cursor: pointer;
}

.feedback__checkbox-mark {
  display: inline-block;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  top: 9px;
}

.feedback__checkbox-field:checked + .feedback__checkbox-mark {
  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: translate(4px, 1px) rotate(45deg);
  }
}

.feedback__checkbox-text {
  display: inline-block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  padding: 0 0 0 20px;
}
