.feedback {
  background: linear-gradient(135deg, #026693 31.5%, #00b3ff 31.5%);
  width: 100vw;
  min-width: $vp-1024;
  max-width: 2600px;

  @media (max-width: $vp-1023) {
    min-width: 768px;
    background: #00b3ff;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.feedback__wrapper {
  background: url("../img/paper-airplane.png");
  background-position: 15% 260px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  padding: 230px 7% 200px 47%;

  @media (max-width: 1350px) {
    background-position: -5% 260px;
  }

  @media (max-width: $vp-1023) {
    padding: 47px 6.5% 125px 6.5%;
    background: none;
  }

  @media (max-width: $vp-767) {
    padding: 50px 25px 90px 25px;
  }
}

.feedback__title {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 15px 0;

  @media (max-width: $vp-1023) {
    margin: 0 0 6px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  margin: 0 0 35px 0;

  @media (max-width: $vp-1023) {
    margin: 0 0 25px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  width: 70%;
  max-width: 580px;
  min-width: 470px;
  padding: 0;
  margin: 0;
  border: none;

  @media (max-width: $vp-1023) {
    gap: 20px 30px;
    width: 100%;
    max-width: 780px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    width: 270px;
  }
}

.feedback__input {
  font-family: "PT Mono", "Arial", sans-serif;
  color: #ffffff;
  border: none;
  width: 100%;
  min-width: 225px;
  height: 50px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    min-width: 320px;
    max-width: 375px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.feedback__textarea {
  font-family: "PT Mono", "Arial", sans-serif;
  border: none;
  width: 100%;
  max-width: 580px;
  min-width: 470px;
  height: 155px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 25px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }

  @media (max-width: $vp-1023) {
    max-width: 780px;
    margin-bottom: 15px;
    padding: 30px 15px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.feedback__label {
  position: relative;
  cursor: pointer;
}

.feedback__label--textarea {
  grid-column: 1 / -1;
}

.feedback__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: inline-block;
  padding: 8px 55px;
  max-width: 260px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #041427;
  border-radius: 3px;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    padding: 16px 59px 10px 59px;
    max-width: 265px;
    margin-top: -7px;
  }
}

.feedback__checkbox-mark {
  display: inline-block;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  top: 9px;
}

.feedback__checkbox-field:checked + .feedback__checkbox-mark {
  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: translate(4px, 1px) rotate(45deg);
  }
}

.feedback__checkbox-text {
  display: inline-block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  padding: 0 0 0 20px;

  @media (max-width: $vp-1023) {
    padding: 0 0 0 25px;
  }
}
