.welcome {
  width: 100vw;
  min-width: $vp-1024;
  background-color: #1f2227;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("../img/welcome.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;


  // @media (min-width: $vp-1024) {
  //   @media (min-resolution: 2dppx) {
  //     background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("../img/welcome.jpg");
  //   }
  // }

  // @media (max-width: $vp-1023) {
  //   min-width: 768px;
  //   background-image: url("../img/welcome-background.jpg");

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/welcome-background@2x.jpg");
  //   }
  // }

  // @media (max-width: $vp-767) {
  //   min-width: 320px;
  //   background-image: url("../img/welcome-background.jpg");

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/welcome-background@2x.jpg");
  //   }
  // }
}

.welcome > div {
  width: 100%;
  margin: 135px auto 0 auto;
  max-width: 1920px;
  padding: 250px 15% 278px 10%;
  display: flex;

  @media (max-width: $vp-1023) {
    padding: 180px 6.5% 204px 6.5%;
  }

  @media (max-width: $vp-767) {
    padding: 150px 8.5% 190px 8.5%;
  }
}

.welcome h2 {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  margin: 0 0 40px 0;

  @media (max-width: $vp-1023) {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 8px 0;
  }
}

.welcome p {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-transform: lowercase;
  margin: 0 0 50px 0;
  max-width: 680px;

  @media (max-width: $vp-1023) {
    margin: 0 0 58px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 45px 0;
  }
}

.welcome a {
  display: inline-block;
  vertical-align: baseline;
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 16px 26px 18px 26px;
  background-color: $color-default-orange;
  border-radius: 3px;
  user-select: none;
  transition: background-color $trans-default;

  @media (max-width: $vp-1023) {
    margin: 0 0 0 45px;
    padding: 17px 27px;
  }

  @media (max-width: $vp-767) {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 35px;
    margin: 0;
  }

  &:hover {
    background-color: #ff9900;
  }

  &:active {
    background-color: #ff9900;
    opacity: 0.9;
  }
}

// крутящаяся дверь, переписать стили

.logo__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  padding: 150px 5% 150px 5%;

  @media (max-width: $vp-1023) {
    padding: 180px 6.5% 204px 6.5%;
  }

  @media (max-width: $vp-767) {
    padding: 150px 8.5% 190px 8.5%;
  }
}

.logo__door {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 5px solid #000000;
  border-radius: 50%;
  position: relative;
}

.logo__mask {
  width: 180px;
  height: 300px;
  background-color: #ffffff;
  margin: -5px auto 0 auto;
}

.logo__inside {
  width: 5px;
  height: 120px;
  background-color: #000000;
  position: absolute;
  top: 15px;
  left: calc(50% - 2px);

  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 120px;
    background-color: #000000;
    transform: rotate(60deg);
    position: absolute;
    top: 105px;
    right: 62px;
  }

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 120px;
    background-color: #000000;
    transform: rotate(-60deg);
    position: absolute;
    top: 105px;
    left: 62px;
  }

  animation-name: door-swing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-fill-mode: forwards;
  transform-origin: 51% 108% 0;
  animation-timing-function: ease;
  transform: rotate(30deg);

}


@keyframes door-swing {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(-330deg);
  }
}
