.welcome {
  width: 100vw;
  min-width: $vp-1024;
  background-color: #25313d;
  background: url("../img/welcome-background.jpg");
  background-position: center;

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background@2x.jpg");
      background-size: 1920px auto;
    }
  }

  @media (max-width: $vp-1023) {
    min-width: 768px;
    background: url("../img/tablet/welcome-background.jpg");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/welcome-background@2x.jpg");
      background-size: 100% auto;
    }
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
    background: url("../img/mobile/welcome-background.jpg");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/welcome-background@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.welcome__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 2600px;
  padding: 305px 12% 278px 24.7%;

  @media (max-width: $vp-1023) {
    padding: 180px 6.5% 204px 6.5%;
  }

  @media (max-width: $vp-767) {
    padding: 150px 8.5% 190px 8.5%;
  }
}

.welcome__title {
  color: #f2f5f7;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0 0 30px 0;

  @media (max-width: $vp-1023) {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 8px 0;
  }
}

.welcome__description {
  color: #f2f5f7;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  text-transform: lowercase;
  margin: 0 0 50px 0;
  max-width: 680px;

  @media (max-width: $vp-1023) {
    margin: 0 0 58px 0;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 45px 0;
  }
}

.welcome__button {
  display: inline-block;
  color: #f2f5f7;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 16px 26px 18px 26px;
  background-color: #00b2ff;
  border-radius: 3px;
  user-select: none;

  @media (max-width: $vp-1023) {
    margin: 0 0 0 45px;
    padding: 17px 27px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }

  &:hover {
    outline: 2px solid #00b2ff;
    outline-offset: 2px;
  }

  &:active {
    outline: 2px solid #00b2ff;
    outline-offset: 1px;
  }
}

.welcome__button--mobile {
  display: none;

  @media (max-width: $vp-767) {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 35px;
    display: inline-block;
    margin: 0;
  }
}
