.header {
  min-width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 2;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  padding: 30px 350px;
  align-items: center;
  margin: 0 auto;

  @media (max-width: $vp-1023) {
    width: 770px;
    padding: 20px 50px;
  }
}

.header__logo-link {
  margin: 0 160px 0 0;

  @media (max-width: $vp-1023) {
    margin: 0 260px 0 0;
  }
}

.header__email {
  color: #f2f5f7;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 30px 0 0;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.header__phone {
  color: #f2f5f7;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 142px 0 0;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.header__icon-link {
  @media (max-width: $vp-1023) {
    margin: 0 40px 0 0;
  }
}

.header__call-me-button {
  display: block;
  padding: 10px 15px;
  color: #f2f5f7;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
