.header {
  width: 100vw;
  min-width: $vp-1024;
  margin: 0 auto;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 2;

  @media (max-width: $vp-1023) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  padding: 30px 18.2% 35px 18.2%;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 1921px) {
    padding: 30px 158px 35px 350px;
  }

  @media (max-width: 1800px) {
    padding: 30px 8% 30px 18.2%;
  }

  @media (max-width: 1500px) {
    padding: 30px 5% 30px 15.2%;
  }

  @media (max-width: 1300px) {
    padding: 30px 5% 30px 14.2%;
  }

  @media (max-width: 1260px) {
    padding: 30px 5% 30px 13.2%;
  }

  @media (max-width: 1220px) {
    padding: 30px 5% 30px 10.2%;
  }

  @media (max-width: $vp-1023) {
    padding: 20px 6.5%;
  }

  @media (max-width: $vp-767) {
    padding: 15px 8.1% 20px 8.1%;
  }
}

.header__logo-link {
  margin: 0 13.5% 0 0;

  @media (max-width: 1420px) {
    margin: 0 10% 0 0;
  }

  @media (max-width: 1180px) {
    margin: 0 5% 0 0;
  }

  @media (max-width: $vp-1023) {
    margin: 0 51% 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0;
  }
}

.header__logo-image {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}

.header__contacts {
  margin: 0 13.6% 0 0;

  @media (max-width: 1300px) {
    margin: 0 7% 0 0;
  }

  @media (max-width: 1180px) {
    margin: 0 5% 0 0;
  }

  @media (max-width: $vp-1023) {
    margin: 0;
  }
  @media (max-width: $vp-1023) {
    margin: 0 17px 0 auto;
  }
}

.header__icon-link {
  color: #f2f5f7;

  &:hover {
    color: #00b2ff;
  }

  &:active {
    color: #59cdff;
  }
}

.header__icon-link:not(:last-child) {
  margin: 0 6.3vw 0 0;

  @media (max-width: $vp-1023) {
    margin: 0 40px 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 35px 0 0;
  }
}

.header__email + .header__icon-link {
  @media (max-width: $vp-1023) {
    margin: 0;
  }
}

.header__email {
  display: inline-block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 0 10px 5px;
  margin-bottom: 7px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.header__phone {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 0 10px 5px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.header__call-me-button {
  display: block;
  padding: 10px 16px 12px 16px;
  color: #f2f5f7;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  @media (max-width: $vp-1023) {
    display: none;
  }

  &:hover {
    border: 1px solid #00b2ff;
    color: #00b2ff;
  }

  &:active {
    outline: 2px solid #00b2ff;
    outline-offset: 1px;
  }
}
