.footer-contacts {
  width: 28.3%;
  @media (max-width: $vp-767) {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer-contacts__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;

  @media (max-width: $vp-767) {
    padding: 20px 177px 20px 25px;
    margin: 0;
    cursor: pointer;
  }
}

.footer-contacts__address {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.7);

  @media (max-width: $vp-1023) {
    width: 320px;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px;
    font-size: 14px;
    line-height: 19px;
  }
}

.footer-contacts__phone {
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #ffffff;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px;
    font-size: 14px;
  }
}

.footer-contacts__phone:not(:last-child) {
  margin: 0 0 5px 0;
}

.footer-contacts__phone:last-child {
  @media (max-width: $vp-767) {
    margin: 0 0 20px 0;
  }
}
