.footer-navigation {
  width: 35.5%;

  @media (max-width: $vp-767) {
    width: 100%;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer-navigation__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;

  @media (max-width: $vp-767) {
    padding: 20px 177px 20px 8%;
    margin: 0;
    cursor: pointer;
  }
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 168px;
  width: 38.5%;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
    width: 220px;
    max-height: none;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px 0 8%;
    margin: 0 0 15px 0;
    width: 280px;
  }
}

.footer-navigation__item {
  min-width: 105%;
  margin-right: 23.5%;

  @media (max-width: $vp-1023) {
    min-width: 107%;
  }
}

.footer-navigation__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-navigation__link {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #00b2ff;
  }
}
