.footer {
  background-color: #041827;
  min-width: 1920px;
}

.footer__wrapper {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 200px 55px 300px;
}

.footer__social {
  margin: 0 160px 0 100px;
}

.footer__navigation {
  margin-right: 30px;
}
