.footer {
  background-color: #041827;
}

.footer__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 10px 55px 10px;
}

.footer__social {
  margin-right: 160px;
}

.footer__navigation {
  margin-right: 30px;
}
