.footer-navigation {
  width: 35.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $vp-1023) {
    display: block;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    position: relative;
  }
}

.footer-navigation > h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
  grid-column: 1 / -1;

  @media (max-width: $vp-767) {
    padding: 20px 177px 20px 8%;
    margin: 0;
    cursor: pointer;

    &:focus {
      color: #00b2ff;
      outline: 2px solid #00b2ff;
    }

    &:hover {
      color: #00b2ff;
    }

    &:active {
      color: #74d5ff;
    }
  }
}

.footer-navigation__title--closed {
  @media (max-width: $vp-767) {
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #c4c4c4;
      position: absolute;
      left: 86.7%;
      top: 25px;
    }

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background-color: #c4c4c4;
      transform: rotate(90deg);
      position: absolute;
      left: 86.7%;
      top: 25px;
    }
  }
}

.footer-navigation__title--opened {
  @media (max-width: $vp-767) {
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #c4c4c4;
      position: absolute;
      left: 86.7%;
      top: 25px;
    }
  }
}

.footer-navigation__title--nojs {
  @media (max-width: $vp-767) {
    &::before {
      content: "";
      display: none;
    }

    &::after {
      content: "";
      display: none;
    }
  }
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75.5%;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    width: 220px;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px 0 8%;
    margin: 0;
    width: 280px;
    display: none;
  }
}

.footer-navigation__list:last-child {
  @media (max-width: $vp-767) {
    margin: 0 0 15px 0;
  }
}

.footer-navigation__list--nojs {
  @media (max-width: $vp-767) {
    display: flex;
  }
}

.footer-navigation__list--opened {
  @media (max-width: $vp-767) {
    display: flex;
  }
}

.footer-navigation__item {
  min-width: 107%;
  margin-right: 23.5%;
  margin-bottom: 5px;

  @media (max-width: $vp-1023) {
    margin-bottom: 10px;
  }

  @media (max-width: $vp-767) {
    min-width: 107%;
    margin-right: 23.5%;
    margin-bottom: 5px;
  }
}

.footer-navigation__item > a {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: $color-default-orange;
  }

  &:active {
    color: $color-default-orange;
    opacity: 0.9;
  }
}
