.footer-contacts {
  width: 23.3%;

  @media (max-width: $vp-767) {
    width: 100%;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    position: relative;
  }
}

.footer-contacts__wrapper {
  @media (max-width: $vp-1023) {
    min-width: 320px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.footer-contacts__wrapper--opened {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.footer-contacts__wrapper--nojs {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.footer-contacts > h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;

  @media (max-width: $vp-767) {
    padding: 20px 177px 20px 8%;
    margin: 0;
    cursor: pointer;

    &:focus {
      color: $color-default-orange;
      outline: 2px solid $color-default-orange;
    }

    &:hover {
      color: $color-default-orange;
    }

    &:active {
      color: $color-default-orange;
      opacity: 0.9;
    }
  }
}

.footer-contacts__title--opened {
  @media (max-width: $vp-767) {
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #c4c4c4;
      position: absolute;
      left: 86.7%;
      top: 25px;
    }
  }
}

.footer-contacts__title--closed {
  @media (max-width: $vp-767) {
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #c4c4c4;
      position: absolute;
      left: 86.7%;
      top: 25px;
    }

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background-color: #c4c4c4;
      transform: rotate(90deg);
      position: absolute;
      left: 86.7%;
      top: 25px;
    }
  }
}

.footer-contacts__title--nojs {
  @media (max-width: $vp-767) {
    &::before {
      content: "";
      display: none;
    }

    &::after {
      content: "";
      display: none;
    }
  }
}

.footer-contacts__wrapper > p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.7);

  @media (max-width: $vp-1023) {
    width: 320px;
    margin: 0 0 8px 0;
  }

  @media (max-width: $vp-767) {
    padding: 0 25px 0 8%;
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 18px 0;
  }
}

.footer-contacts__wrapper > a {
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 180px;

  &:hover {
    color: $color-default-orange;
  }

  &:active {
    color: $color-default-orange;
    opacity: 0.9;
  }

  @media (max-width: $vp-767) {
    padding: 0 15px 0 8%;
    font-size: 14px;
    max-width: 230px;
  }
}

.footer-contacts__wrapper > a:not(:last-child) {
  margin: 0 0 5px 0;
}

.footer-contacts__wrapper > a:last-child {
  @media (max-width: $vp-767) {
    margin: 0 0 20px 0;
  }
}
