.social {
  @media (max-width: $vp-1023) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.social__logo-link {
  display: block;
  margin-bottom: 30px;

  @media (max-width: $vp-1023) {
    margin: 0 240px 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 20px 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-767) {
    margin: 0 0 20px 0;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
}
