.social {
  width: 21.7%;

  @media (max-width: $vp-1023) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.social__logo-link {
  display: block;
  min-width: 210px;
  margin-bottom: 30px;

  @media (max-width: $vp-1023) {
    margin: 0 45% 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 17px 0;
  }
}

.social__list {
  margin: 0 0 0 3%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: $vp-1023) {
    width: 23%;
    margin: 4px 0 0 0;
  }

  @media (max-width: $vp-767) {
    width: 48%;
    margin: 0 0 17px 0;
    justify-content: center;
  }
}

.social__item:not(:last-child) {
  margin-right: 6%;

  @media (max-width: $vp-1023) {
    margin-right: 10%;
  }

  @media (max-width: $vp-767) {
    margin-right: 5%;
  }
}

.social__link {
  &:hover {
    border-bottom: 2px solid #00b2ff;
  }

  &:active {
    border-bottom: 4px solid #00b2ff;
  }
}
